RewriteEngine On

# Jika file atau folder ada → load langsung
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Selain itu → lempar ke index.php sebagai parameter page
RewriteRule ^(.+)$ index.php?page=$1 [L,QSA]
